/* .dash {
    background: rgba(133, 89, 197, 1);

   
  background: rgba(133, 89, 197, 1);

}
.ul{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;

}

.li{
    position: relative;
    width: 200%;
    list-style: none;
}
.li:hover{
    /* background: rgba(133, 89, 197, 1); */
    /* background: rgb(255, 255, 255);
    color: brown; */

/* }
.li_1{
    margin-bottom: 40px;

}

.hover:hover{
    background-color: brown;
} */ 